# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Files with API keys

# Ignore google-service.json since it includes API keys, but include the template
/android/app/google-services.json

# Ignore firebase_app_id_file.json because of API keys, but keep the template
/ios/firebase_app_id_file.json

# Ignore firebase options since they include API keys, but include the template
/lib/firebase_options.dart

# Ignore firebase_app_id_file.json because of API keys, but keep the template
/macos/firebase_app_id_file.json

# Ignore GoogleService-Info.plist because of API keys, but keep the template
/ios/Runner/GoogleService-Info.plist

# Ignore GoogleService-Info.plist because of API keys, but keep the template
/macos/Runner/GoogleService-Info.plist


